.DS_Store
/data/*
!/data/.gitkeep
project/components/.env
*.pyc
__pycache__/
project/components/test.ipynb
project/components/test_ingest.py
project/components/test_prep.py
project/data/
exercises/*.sqlite

