.DS_Store
/data/*
!/data/.gitkeep
project/components/.env
*.pyc
project/components/__pycache__/*.pyc
__pycache__/
project/components/test.ipynb
project/components/test_ingest.py
project/components/test_prep.py
project/data/
exercises/*.sqlite
exercises/*.csv
exercises/test*
*.sqlite
*.ipynb
project/*.ipynb
project/components/__pycache__/*.pyc
component_test_ingest.py
exercises/stops.txt
*.xlsx
project/test.md
project/*.png
project/*.ipynb
project/report_draft.md
